<h1>Users</h1>

<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.first_name, user %></li>
    <li><%= user.last_name %></li>
    <li><%= user.email %></li>
    <li><%= user.role %></li>
  </ul>
<% end %>


<%= link_to "New User", new_user_path %>